{% load i18n %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Djax Demo{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% load bootstrap3 %}
    
    {% bootstrap_css %}
    
    <style type="text/css">
        body {
              margin: 0;
              min-height: 2000px;
              padding-top: 70px;
            }
        .thumbnail>img {
            height: 300px;

        }
        div.djaxPan{
            width: 400px;
            margin: auto;
        }
    </style>

    {% block header %}{% endblock %}
    
    {% block StyleHeader %}{% endblock %}

    {% block ScriptHeader %}{% endblock %}

</head>

    <body>

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-cloud-upload"></span> Djax</a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user}}</a></li>
                <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
            {% else %}
                <li><a href="/accounts/login/"><span class="glyphicon glyphicon-download"></span> Login</a></li>
                <li><a href="/accounts/register/"><span class="glyphicon glyphicon-list"></span> register</a></li>
            {%endif %}
            
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div> <!-- /container -->

    </body>

    <script src="/static/js/jquery.js"></script>
    {% bootstrap_javascript %}

    {% block ScriptFooter %}{% endblock %}

</html>
