{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}Djax Home{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Persons list</h3>
    {% if user.is_authenticated %}
      <a data-toggle="modal" href="#myModal" style="margin-top: -23px; margin-right: -11px;" 
      	class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> Add new person</a>
    {%endif %}
  </div>
  <div class="panel-body">

	<div class="row">
	  {% for person in persons %}		
		  <div class="col-sm-6 col-md-3" style="margin-bottom : 15px;">
		    <div class="thumbnail">
		      <img src="{{ person.photo.url }}" alt="Photo">
		      <div class="caption">
		        <p><strong>First name: </strong>{{person.first_name}}</p>
		        <p><strong>Last name: </strong>{{person.last_name}}</p>
		        {% if user.is_authenticated and person.owner == user %}
			    <p>

				<a href="#editModal" data-perid = {{person.id}} data-name = {{ person.first_name }} 
						data-lname ={{ person.last_name }} class="btn btn-default editBtn" data-toggle="modal">
				        	<span class="glyphicon glyphicon-search"></span> Edit</a> 

				
				<a href='#' class="btn btn-default deleteBtn" data-pid = {{ person.id }}>
				        	<span class="glyphicon glyphicon-trash"></span>Delete</a>
			        </p>
			        
		        {%endif %}
		      </div>
		    </div>
		  </div>
	  {% endfor %}
	</div>

  </div>
</div>





  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/add/" method="post" enctype="multipart/form-data" id="newPersonForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New person</h4>
	        </div>
	        <div class="modal-body">

		        {% csrf_token %}

		        <!-- <div class="form-group">
				    <label for="first_name">First name</label>
				    <input type="text" class="form-control" required="required" id="first_name" name="first_name" placeholder="First name">
				</div>
				<div class="form-group">
				    <label for="last_name">Last name</label>
				    <input type="text" class="form-control" required="required" id="last_name" name="last_name" placeholder="Last name">
				</div>
				<div class="form-group">
				    <label for="photo">Photo </label>
				    <input type="file" name="photo" required="required" id="photo">
				    <p class="help-block">Upload photo..</p>
				</div> -->

		        {{ form|crispy }}

	        </div>
	        <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form  action="/update/" id="editForm" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit person</h4>
	        </div>
	        <div class="modal-body">

		        {% csrf_token %}
		        <div class="form-group">
				    <label for="first_name">First name</label>
				    <input type="text" class="form-control" required="required" id="first_name" name="first_name" placeholder="First name">
				</div>
				<div class="form-group">
				    <label for="last_name">Last name</label>
				    <input type="text" class="form-control" required="required" id="last_name" name="last_name" placeholder="Last name">
				</div>
				<div class="form-group">
				    <label for="photo">Photo</label>
				    <input type="file" name="photo" id="photo">
				    <p class="help-block">Upload photo..</p>
				</div>
				<input type="hidden" id="perid" name="perid" />

	        </div>
	        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


{% endblock %}

{% block ScriptFooter %}
<script type="text/javascript">


	$(document).ready(function(){

		$('.editBtn').bind("click", function(event) {
			var id = $(this).data('perid');
			var name = $(this).data('name');
			var lname = $(this).data('lname');
			$('#editModal input#perid').val(id);
			$('#editModal input#first_name').val(name);
			$('#editModal input#last_name').val(lname);
		});

		// $("#editForm").submit(function(){
		// 	var perid = $('#editModal input#perid').val();
	 //    	$.ajax({
		//     	url: '/update/' + perid,
		//     	type: 'POST',
		//     	data : {
		//     		// first_name : $('#editModal input#first_name').val(),
		//     		// last_name : $('#editModal input#last_name').val(),
		//     		// photo : $('#editModal input#photo').val(),
		// 			csrfmiddlewaretoken: '{{ csrf_token }}'
		// 			}
		// 		});

		//  });

		$('.deleteBtn').bind("click", function() {
			
			var pid = $(this).data('pid');
			$(this).closest('div.col-sm-6.col-md-3').remove();
			$.ajax({
			    	url: '/delete/' + pid,
			    	type: 'POST',
			    	data: {
			    		csrfmiddlewaretoken:'{{ csrf_token }}'
			    	}
				});
			
		});

		// $("#newPersonForm").submit(function(){
  //   		$.ajax({
	 //    	url: '/add/',
	 //    	type: 'POST',
	 //    	data : {
		// 		csrfmiddlewaretoken: '{{ csrf_token }}'
		// 		}
		// 	});
	 //    });



	});

</script>

{% endblock %}