{% extends "base.html" %}
{% load i18n %}

{% block title %}Activation{% endblock %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Activation</h3>
  </div>
  <div class="panel-body">
  		{% if account %}

		<p>{% trans "Account successfully activated" %}</p>

		<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

		{% else %}

		<p>{% trans "Account activation failed" %}</p>

		{% endif %}
  </div>
</div>
{% endblock %}
