{% extends "base.html" %}
{% load i18n %}

{% block title %}Activation{% endblock %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Activation</h3>
  </div>
  <div class="panel-body">
  		<p>{% trans "Your account is now activated." %}</p>
  </div>
</div>
{% endblock %}
