{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}Djax Login{% endblock %}
{% block content %}
<div class="panel panel-primary djaxPan">
  <div class="panel-heading">
    <h3 class="panel-title">Login</h3>
  </div>
  <div class="panel-body">
  	<form method="post" action="." role="form"  class="form">
	  {% csrf_token %} 
	  <div class="form-group">
	  {{ form|crispy }}
	  </div>

	  <button type="submit" class="btn btn-default" data-loading-text="Loading...">Login</button>
	  <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <br/>
	<div class="form-group">
	  <button type="button" class="btn btn-default" ><a href="{% url 'registration_register' %}">Register</a></button>	
	  <button type="button" class="btn btn-default" ><a href="{% url 'auth_password_reset' %}">Reset password</a></button>
	</div>
	
  </div>
</div>
{% endblock %}