{% extends "base.html" %}
{% load i18n %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="panel panel-primary djaxPan">
  <div class="panel-heading">
    <h3 class="panel-title">Reset Password</h3>
  </div>
  <div class="panel-body">

	<p>{% trans "Password reset successfully" %}</p>

	<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

  </div>
</div>
{% endblock %}