{% extends "base.html" %}
{% load i18n %}


{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="panel panel-primary djaxPan">
  <div class="panel-heading">
    <h3 class="panel-title">Reset Password</h3>
  </div>
  <div class="panel-body">
  	<p>{% trans "Email with password reset instructions has been sent." %}</p>
  </div>
</div>
{% endblock %}