{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="panel panel-primary djaxPan">
  <div class="panel-heading">
    <h3 class="panel-title">Reset Password</h3>
  </div>
  <div class="panel-body">
	<form method="post" action=".">
	  {% csrf_token %} 
	  {{ form|crispy }}

	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
  </div>
</div>
{% endblock %}