{% extends "base.html" %}
{% load i18n %}

{% block title %}Registration{% endblock %}
{% block content %}
<div class="panel panel-primary djaxPan">
  <div class="panel-heading">
    <h3 class="panel-title">Registration Closed</h3>
  </div>
  <div class="panel-body">
  		<p>{% trans "Registration is currently closed." %}</p>
  </div>
</div>
{% endblock %}