{% extends "base.html" %}
{% load i18n %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="panel panel-primary djaxPan">
  <div class="panel-heading">
    <h3 class="panel-title">Registration</h3>
  </div>
  <div class="panel-body">
  	<p>{% trans "You are now registered. Activation email sent." %}</p>
  </div>
</div>
{% endblock %}