{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}Djax Registration{% endblock %}
{% block content %}
<div class="panel panel-primary djaxPan">
  <div class="panel-heading">
    <h3 class="panel-title">Registration</h3>
  </div>
  <div class="panel-body">
  	<form method="post" action="." role="form">
	  {% csrf_token %}
	  <div class="form-group">
	  {{ form|crispy }}
	</div>
	  <button type="submit" class="btn btn-default" data-loading-text="Loading...">Register</button>
	</form>
  </div>
</div>
{% endblock %}